<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PayMyBuddy - Thank you for registering</title>
        <link th:href="@{/css/styles.css}" rel="stylesheet">
	</head>
	<body>
		<section>
            <article class="loginFormWrapper">
				<img th:src="@{/images/pmb_logo.png}">
				<form class="loginForm" method="GET" action="#" th:action="@{/signin}">
					<p>Merci de vous être inscrit !</p>
					<button type="submit">Vous connecter</button>
				</form>
            </article>
		</section>
	</body>
</html>