<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PayMyBuddy - Transactions</title>
        <link th:href="@{/css/styles.css}" rel="stylesheet">
	</head>
	<body>
        <aside th:replace="~{fragments/menus.html}"></aside>
        <section>
            <article class="transactionsFormWrapper">
                <p>Effectuer une Transaction</p>
                <th:block th:if="${formMessage}"> 
                    <span class="formMessage" th:classappend="'formMsg' + ${formMessageType}" th:text="${formMessage}"></span>
                </th:block>
                <form class="transactionsForm" method="POST" action="#" th:action="@{/initiateTransaction}" th:object="${transactionForm}">
                    <select th:field="*{receiver}">
                        <option selected th:value="${-1}" hidden>Sélectionner une relation</option>
                        <option th:each="connection : ${connectionsList}" th:value="${connection.id}" th:text="${connection.user}"></option>
                    </select>
                    <input aria-label="Add a Description to your Transaction" type="text" th:field="*{description}" placeholder="Description">
                    <input aria-label="Type in the desired amount of money to give" type="number" th:field="*{amount}" th:value="${5.0}" value="5" min="5">
                    <button type="submit">Payer</button>
                </form>
            </article>
            <article class="transactionsDashboardWrapper">
                <table>
                    <thead>
                        <th>Date</th>
                        <th>Relation</th>
                        <th>Description</th>
                        <th>Montant</th>
                    </thead>
                    <tbody>
                        <tr th:each="transactionData : ${transactionsList}">
                            <td th:text="${transactionData.dateTransaction}"></td>
                            <td th:text="${transactionData.contactUser}"></td>
                            <td th:text="${transactionData.description}"></td>
                            <td th:text="${transactionData.beneficial} ? '+' + ${transactionData.amount} + '€' : '-' + ${transactionData.amount} + '€'"></td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </section>
	</body>
</html>